
//order-title
.order-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.samotsvet-input {
  border-left: 1px solid $expresion-color;
  border-bottom: 1px solid $expresion-color;
}

.star {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 9px;
  height: 9px;
  background: url($img-dir + 'star.png') 0 0 no-repeat;
}
.l-btn {
  margin: 0 auto;
  text-align: center;
  width: 230px;
}
.form-btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 45px;
  text-transform: uppercase;
  text-shadow: 0.1px 1px 1px rgba(255, 255, 255, 0.56);
  background-color: #44A397;
  margin-bottom: 15px;
  background-image: linear-gradient(to top, rgba(215, 215, 215, 0.23) 0%, rgba(255, 255, 255, 0.23) 100%);
  @extend %transition;

  &:hover {
    background-color: #44A397;
    background-image: linear-gradient(to bottom, rgba(215, 215, 215, 0.23) 0%, rgba(255, 255, 255, 0.23) 100%);
  }

}

.back-btn {
  padding: 9px;
  padding-left: 20px;
  text-transform: uppercase;
  display: inline-block;
  color: $dark-color;
  font-size: 14px;
  font-weight: 700;
  background: url($img-dir + 'back-icon.png') 0 0 no-repeat;
  @extend %transition;

  &:hover {
    color: $expresion-color;
  }
}

.social_btn {
  display: inline-block;
  width: 32px;
  height: 27px;
  margin-right: 9px;
  margin-bottom: 9px;
  background: url($img-dir + 'social-btn-bg.png') 0 0 no-repeat;
  @extend %transition;

  &:hover {
    background: url($img-dir + 'social-btn-bg-hover.png') 0 0 no-repeat;
  }
}

.tw, .fb, .vk, .ok, .g, .inst, .youtube  {
  display: block;
  width: 32px;
  height: 27px;
  background-size: auto 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tw {
  background-image: url($img-dir + '/social/twi.svg');

}

.fb {
  background-image: url($img-dir + '/social/fb.svg');
}

.vk {
  background-image: url($img-dir + '/social/vk.svg');
}

.g {
  background-image: url($img-dir + '/social/gl.svg');
}

.ok {
  background-image: url($img-dir + '/social/ok.svg');
}

.inst {
  background-image: url($img-dir + '/social/inst.svg');
}

.youtube {
  background-image: url($img-dir + '/social/youtube.svg');
}


/* Kaede */


.input--kaede {
	display: block;
	overflow: hidden;
  height: 29px;
  border-bottom: 1px solid $expresion-color;
  border-left: 1px solid $expresion-color;
}

.input__field--kaede {
	position: absolute;
	top: 0;
	right: 100%;
	width: 80%;
	height: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede {
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	cursor: text;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label-content--kaede {
	// padding: 1.5em 0;
  // width: 50px;
  // display: inline-block;
  // background-color: red;
  // vertical-align: top;
  position: relative;
}

.input__field--kaede:focus,
.input--filled .input__field--kaede {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
	-webkit-transform: translate3d(85%, 0, 0);
	transform: translate3d(85%, 0, 0);
	pointer-events: none;
}

@media screen and (max-width: 34em) {
	.input__field--kaede:focus + .input__label--kaede,
	.input--filled .input__label--kaede  {
		-webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		pointer-events: none;
	}
}
//


@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 8px;
  }
  50% {
    height: 10px;
    width: 8px;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 8px;
  }
  50% {
    height: 10px;
    width: 8px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 8px;
  }
  50% {
    height: 10px;
    width: 8px;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}

.radio {
  position: absolute;
  bottom: -16px;
  height: 30px;
  width: 30px;
  left: 50%;
  margin-left: -16px;
  background-color: #fff;
  border-radius: 50px;
}
.radio label {
  display: block;
  height: 30px;
  position: relative;
  width: 30px;
  cursor: pointer;
}
.radio label::before {
  content: '';
  display: block;
  height: 26px;
  left: 0px;
  border-radius: 50px;
  position: absolute;
  border: 2px solid transparent;
  top: 0px;
  width: 26px;
}
.radio label::after {
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  content: '';
  display: block;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 14px;
  width: 8px;
}
.radio input {
  display: none;
}
.radio input:checked + label {
  border:none;
  background-color: transparent;
}
.radio input:checked + label:after {
  -moz-animation: check 0.8s;
  -webkit-animation: check 0.8s;
  animation: check 0.8s;
  border-color: #000;
}
.radio input:checked + label:before {
  -moz-animation: rotate 0.8s;
  -webkit-animation: rotate 0.8s;
  animation: rotate 0.8s;
  border-color: #000;
}


//*****************************//
//hover card
//*****************************//

.hover-btn-layout {
  // height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
  @include clear;
}
.catalog-mod a.buy {
  display: block;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.catalog-mod a.buy:hover::before {
  width: 100%;
}
.catalog-mod a.buy:hover {
  color: #000;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

}

.buy::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

//fast-access

.item-popup {
  overflow: hidden;
  position: relative;
  max-width: 255px;
  max-height: 255px;
  text-align: center;

  &:hover::before {
    bottom: 10px;
  }

  &:hover .fast-access {
    top: 50%;
    opacity: 1;
    transform: translateY(-8%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 100%;
    background-color: $expresion-color;
    opacity: .7;
    transition: all 0.25s ease;
  }
}
.item-popup .fast-access {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
	text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  vertical-align: top;
  top: 50%;
  bottom: 0;
  left: 20%;
  right: 20%;
  transition: all 0.2s 0.1s ease;
  opacity: 0;
}
