
//header menu

.menu-link {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.menu-link span {
  display: block;
  width: 16px;
  height: 2px;
  margin: 0 5px -3px 0;
  background-color: #fff;
  margin-bottom: 4px;
}

.menu-link:hover span { border-color: #666; }


.menu.active {
  background: #f9f9f9;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 1em 0 1em -12px;
  max-height: 55em;
}

.js .menu > .header-nav-list .level-2.active {
  margin: 0;
  max-height: 55em;
  padding: 0;
}

.menu > ul { padding: 0; }


.header {

  &-nav {
    padding-top: 10px;
    border-bottom: 3px solid #a6a6a6;

    &-list {
      text-align: justify;
      @include full-width;
      font-size: 0;
    }

    .point {
      display: inline-block;
      width: 4px;
      padding: 19px 0;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        margin-top: -2px;
        display: inline-block;
        width: 4px;
        height: 4px;
        border: 1px solid $expresion-color;
      }
    }

    &_item {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 10px;
      font-size: 12px;

      a {
        display: block;
        text-align: center;
        padding: 13px 20px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-color;
        position: relative;


        &.has-subnav::before {
          content: '';
          position: absolute;
          top: 50%;
          right: -2px;
          width: 2px;
          height: 2px;
          margin-top: -2px;
          border: 1px solid $expresion-color;
        }

        &.has-subnav::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $expresion-color;
          opacity: 0;
        }

        &:hover {
          color: $expresion-color;
        }

        &:hover::after {
          opacity: 1;
          @extend %transition;
        }
      }
    }
  }
} //end header

.header-nav_item a {
  // color: #000;
  // display: inline-block;
  // font-size: 1.04em;
  // letter-spacing: .05em;
  // line-height: 2.5em;
  // text-decoration: none;
}

span.has-subnav {
  display: block;
  font-size: 1em;
  // line-height: 2.5em;
  position: absolute;
  right: 20px;
  padding: 0 0.5em;
  top: 0;
}
 @media screen and (max-width:800px) {

.menu,  .menu > .header-nav-list .level-2 {
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

.menu .header-nav-list .wide{
  display: none;
}

.menu {
  position: absolute;
  top: -87px;
  left: 32px;
  z-index: 999;
}

.menu li a {
  border-bottom: 1px solid $expresion-color;
  display: block;
}

.menu li:hover { background: #f1f1f1; }
.menu li:hover a { color: $expresion-color; }

.header-nav_item {
  display: block;
  padding-bottom: 0;
}
}

//////////
//////////
@media screen and (min-width: 801px) {
//
// nav {
//   border-top: 3px solid #00578b;
//   border-bottom: 1px solid #a4d05e;
// }

.menu-link { display: none; }

.js .menu,  .js .menu > ul ul {
  max-height: none;
  overflow: visible;
}

// .js .menu > ul li:hover > ul { display: block; }
.header-nav_item:hover > ul { display: block; }

.menu span.has-subnav { display: none; }

.menu li a:hover { color: $expresion-color; }
// .header-nav_item:hover { background-color: #77afa8; }
// .header-nav_item:hover a{color: #fff; }

.menu li li a:hover {
  background: rgba(164,208,94,0.1);
  color: #000;
}

.menu ul ul {
  background: #fff;
  border-top: solid 2px transparent;
  display: none;
  height: auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 48px;
  width: 150px;
  z-index: 999;
}

.chrome .js .menu > ul ul { top: 43px; }

.menu ul ul.wide {
  width: 96%;
  background-color: #77afa8;
  padding: 10px;
  box-shadow: 0 22px 0 rgba(0, 0, 2, 0.15);
}

.wide-item {
  display: inline-block;
  max-width: 95px;
  margin-right: 6px;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }

  &_img {
    margin-bottom: 5px;
    text-align: center;
  }

  &_title {
    font-family: "Tahoma";
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
  }

  a {
    position: relative;
    display: block;
    padding: 2px 4px;
    color: #FFF;
    font-family: "Tahoma";
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 5px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      opacity: 0;
    }

    &:hover {
      color: #fff !important;
      opacity: 1;
    }

  }
}

.menu ul ul li {
  border-bottom: solid 1px rgba(164,208,94,0.5);
  position: relative;
}

.menu ul ul li a {
  display: block;
  padding-left: 10px;
}
}
//media
@media all and (max-width: 1030px) {
  .wide-item {
    // margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 1024px) {
  .header-nav_item .header-nav_item-link {
    padding: 13px 10px;
  }
}

@media all and (max-width: 840px) {
  .header-nav_item .header-nav_item-link {
    padding: 13px 5px;
  }
}

@media all and (max-width: 800px) {

  .l-header {
    height: 60px;
  }
  .header-nav_item .header-nav_item-link {
    padding: 13px 20px;
  }

  .header-top_search,
  .header-top_phoneNumber,
  .header-top_logo {
    display: none;
  }

  .header-nav {
    padding: 0;
    border: none;
  }

  .menu-link {
    vertical-align: top;
    margin-top: 23px;
  }
}

.wide-item_title a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 0;
}

.wide-item_img a:hover::after,
.wide-item_title a:hover::after {
  border: none;
}
